<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Categorias</h4>
                        <p class="card-category"> Lista de categorias de despesas</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let category of categories">
                                    <td>{{category.id}}</td>
                                    <td class="name">{{category.name}}</td>
                                    <td>
                                        <button (click)="openDialog(category)" class="btn btn-primary pull-center" mat-button
                                                type="button"><i class="fa fa-edit"></i></button>
                                        <button (click)="openDialogDeleteCategory(category)" class="btn btn-primary pull-center" mat-button
                                                type="button"><i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button (click)="openDialogNewCategory()" class="btn btn-danger pull-right" mat-raised-button
                                    type="button">Nova Categoria
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
  