<form>
    <mat-form-field appearance="outline" [floatLabel]="always">        
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo" [(ngModel)]="expense.title" name="title">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Descrição" [(ngModel)]="expense.descpription" name="descpription"></textarea>        
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="expense.category" name="expense.category">
          <mat-option *ngFor="let category of categories" [(value)]="expense.category">{{ category.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput placeholder="Valor" [(ngModel)]="expense.totalValue" name="totalValue">
    </mat-form-field>

    <mat-checkbox class="example-margin" [(value)]="isRecurrent" name="isRecurrent">Despesa recorrente</mat-checkbox>
</form>
