<form>
    <mat-form-field [floatLabel]="always" appearance="outline">
        <mat-label>Titulo</mat-label>
        <input [(ngModel)]="expense.title" matInput name="title" placeholder="Titulo">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea [(ngModel)]="expense.descpription" matInput name="descpription" placeholder="Descrição"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="expense.category" name="expense.category">
            <mat-option *ngFor="let category of categories" [(value)]="expense.category">{{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input [(ngModel)]="expense.totalValue" matInput name="totalValue" placeholder="Valor">
    </mat-form-field>

    <mat-checkbox [(value)]="isRecurrent" class="example-margin" name="isRecurrent">Despesa recorrente</mat-checkbox>
</form>
