<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Despesas</h4>
                        <p class="card-category"> Lista de despesas</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>ID</th>
                                <th>Titulo</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Data da despesa</th>
                                <th>Ações</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let expense of expenses">
                                    <td>{{expense.id}}</td>
                                    <td>{{expense.title}}</td>
                                    <td>{{expense.category.name}}</td>
                                    <td>{{expense.totalValue}}</td>
                                    <td>{{expense.createdDate}}</td>
                                    <td>
                                        <button (click)="openDialog(expense)" class="btn btn-primary pull-center" mat-button
                                                type="button"><i class="fa fa-edit"></i></button>
                                        <button (click)="openDialogDeleteCategory(expense)" class="btn btn-primary pull-center" mat-button
                                                type="button"><i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button (click)="openDialogNewCategory()" class="btn btn-danger pull-right" mat-raised-button
                                    type="button">Nova Despesa
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
  
